footer {
    background-color: dimgray;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
    

.facebook {
    clip-path: circle(40% 47% 50%);
}
.instagram{
    clip-path: circle(540% 47% 50%);
}
.twitter{
    clip-path: circle(40% 47% 50%);}
    p {
        color: rgb(0, 0, 0);
        font-size: 20px;
    }
    .whatsapp {
        position: fixed;
        bottom: 20px;
        right: 20px;
     }

